<footer class="page-footer" style="background-color:#e4dfdf; color: #000 !important;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Website by Anitha</h5>
        <p class="black-text text-lighten-4">Serving Dallas | Fort Worth | Flower Mound | Lewisville | Coppell | DFW | Texas </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Follow us on</h5>
        <ul class="social-icons">
           <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
           <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
           <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
           <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
           <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
           <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="color: #000;">
    <div class="container">
    © 2018 Copyright Text
    </div>
  </div>
</footer>
