
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">  <img src="images/logo.png"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/packages">Packages</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/">Contact Us</a></li>
      <li>
        <a class="btn waves-effect waves-light" href="#">Login</a>
      </li>

    </ul>
    <p>
      BOO! HALLOWEEN IS JUST AROUND THE CORNER ...
    </p>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
    <li><a href="/packages">Packages</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/">Contact Us</a></li>
    <li>
      <a class="btn waves-effect waves-light" href="#">Login</a>
    </li>
  </ul>
  </div>
</nav>
