<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Eve's Party Planner | Kids Party Planner</title>
      <% include ./partials/head.ejs %>
  </head>

  <body>
      <% include ./partials/nav.ejs %>
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="images/background1.jpeg"> <!-- random image -->
            <div class="caption center-align">
              <h3 class="white-text">Creating One Amazing Event at a Time</h3>
              <h5 class="white-text">Planning, Cordination and Design</h5>
              <a class="btn waves-effect orange lighten-3 black-text darken-text-2">More Info</a>
            </div>
          </li>
          <li>
            <img src="images/background2.jpeg"> <!-- random image -->
            <div class="caption center-align">
              <h3 class="white-text">Make memories that last a lifetime</h3>
              <h5 class="white-text">Your full service party planner for kids</h5>
              <a class="btn waves-effect orange lighten-3 black-text darken-text-2">More Info</a>
            </div>
          </li>
        </ul>
      </div>
    <h1> Read More</h1>
    <% include ./partials/script.ejs %>
  </body>
</html>
