<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eve's Party Planner | Online Enquiry</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/nav.ejs %>
    <nav>
       <div class="nav-wrapper">
         <div class="col s12">
           <a href="/" class="breadcrumb">Home</a>
           <a href="#" class="breadcrumb">Contact Us </a>
         </div>
       </div>
    </nav>
    <div class="container white z-depth-2" >
      <div class="row">
          <div class="col m10 offset-m1 s12">
            <h2 style="text-align:center;">Contact Form</h2>
            <div class="row">
              <form class="col m8 offset-m2 s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="last_name" type="text" class="validate" name="name">
                    <label for="last_name">Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="message" name="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                  </div>
                </div>
                <div class="row" style="text-align:center;">
                  <a class="btn waves-effect orange lighten-3 black-text darken-text-2"  href="/" >Send Message<i class="material-icons right">send</i></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  <% include ./partials/footer.ejs %>
  <% include ./partials/script.ejs %>
  </body>
</html>
