<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Eve's Party Planner | Add Packages</title>
      <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/nav.ejs %>
    <nav>
       <div class="nav-wrapper">
         <div class="col s12">
           <a href="/" class="breadcrumb">Home</a>
           <a href="/packages" class="breadcrumb">Packages</a>
           <a href="/gallery" class="breadcrumb">Add New </a>
         </div>
       </div>
    </nav>

<!-- https://github.com/skcals/Materialize-Css-Image-Gallery/ -->
<div class="container" style="margin-top:2%;padding: 2%; border: 2px solid #ffcdd2; border-radius: 4px;">
  <div class="row">
    <div id="porfolio" class="row center">
      <h1 class="thin teal-text">PoRtFoLiO</h1>
      <div class="col m4 s12">
        <h5>Birthday Party</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package1.jpg" alt="header" width="350px" data-caption="Kids Party"/>
      </div>
      <div class="col m4 s12">
        <h5>Birthday Party</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package2.jpg" alt="header" width="350px" data-caption="Kids Party"/>
      </div>
      <div class="col m4 s12">
        <h5>Birthday Party</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package3.jpg" alt="header" width="350px" data-caption="Kids Party"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="porfolio" class="row center">
      <div class="col m4 s12">
        <h5>Party Package</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package4.jpg" alt="header" width="350px" data-caption="Party Package"/>
      </div>
      <div class="col m4 s12">
        <h5>Sweet 16 Party Package</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package5.jpg" alt="header" width="350px" data-caption="Sweet 16 Party Package"/>
      </div>
      <div class="col m4 s12">
        <h5>Outdoor Party Package</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package6.jpg" alt="header" width="350px" data-caption="Outdoor Party Package"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="porfolio" class="row center">
      <div class="col m4 s12">
        <h5>Easter Party Package</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package7.jpg" alt="header" width="350px" data-caption="Easter Party Package"/>
      </div>
      <div class="col m4 s12">
        <h5>Birthday Party Package</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package8.jpg" alt="header" width="350px" data-caption="Birthday Party Package"/>
      </div>
      <div class="col m4 s12">
        <h5>Outdoor Party Package</h5>
        <img class="img-responsive portfolio materialboxed" src="images/package9.jpg" alt="header" width="350px" data-caption="Outdoor Party Package"/>
      </div>
    </div>
  </div>

</div>

<% include ./partials/script.ejs %>
  <% include ./partials/footer.ejs %>
  </body>
</html>
