<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Eve's Party Planner | Add Packages</title>
      <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/nav.ejs %>
    <nav>
       <div class="nav-wrapper">
         <div class="col s12">
           <a href="/" class="breadcrumb">Home</a>
           <a href="/packages" class="breadcrumb">Packages</a>
           <a href="/gallery" class="breadcrumb">Add New </a>
         </div>
       </div>
    </nav>

<div class="container">
  <div class="row">
  <div id="porfolio" class="row center">
    <h1 class="thin teal-text">PoRtFoLiO</h1>
    <div class="col m6 s12">
      <img class="img-responsive portfolio materialboxed" src="images/package1.jpg" alt="header" width="350px"/>
    </div>
    <div class="col m6 s12">
      <img class="img-responsive portfolio materialboxed" src="images/package2.jpg" alt="header" width="350px"/>
    </div>
    <div class="col m6 s12">
      <img class="img-responsive portfolio materialboxed" src="images/package3.jpg" alt="header" width="350px"/>
    </div>
    <div class="col m6 s12">
      <img class="img-responsive portfolio materialboxed" src="images/package4.jpg" alt="header" width="350px"/>
    </div>
  <div class="col m6 s12">
      <img class="img-responsive portfolio materialboxed" src="images/package5.png" alt="header" width="350px"/>
    </div>
    <div class="col m6 s12">
      <img class="img-responsive portfolio materialboxed" src="images/package6.jpg" alt="header" width="350px"/>
    </div>

    </div>
  </div>
</div>

<% include ./partials/script.ejs %>

  </body>
</html>
