<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Eve's Party Planner | Kids Party Planner</title>
      <% include ./partials/head.ejs %>
  </head>



  <body>

      <% include ./partials/nav.ejs %>


    <h1> Hello Dear Friends</h1>
    <% include ./partials/script.ejs %>
  </body>
</html>
