@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.nav-wrapper {
    background-color: #000 !important;
    font-size: 14px;
    font-weight: bold;
  }
body > nav > div > a.brand-logo > img{
  padding: 3%;
}

nav ul a, nav .brand-logo {
    color: #FFF;
}

body > nav > div > ul> li:hover{
  background-color: #e60077;
}

body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(5):hover{
  background-color: inherit;
}
body > nav > div > p {
    line-height: 2rem;
    -webkit-text-stroke: 1px #e60077;
    text-align: center;
    width: 25%;
    margin: auto;
    padding: 1%;
}

@media only screen and (max-width : 992px) {
  body > nav > div > p {
      visibility: hidden;
  }
}

.orange.lighten-3 {
    font-family: 'PT Sans', sans-serif !important;
    background-color: #e4501d !important;
    color: white !important;
    border-radius: 5%;
}

.center-align {

    padding-bottom: 2%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    background-color: rgba(195, 10, 100, .5);
    /* background-color: rgba(1, 1, 1, 1); */
}
.white-text{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.slider{
  margin: 1% 0 1% 0;
}

.card.small {
    height: 600px;
}
.grey-text.text-darken-4 {
    color: #c20762 !important;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #e60077;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.pinktext{
  color:#c20762;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 601px){
  .row .col.m7 {
      width: 33%;

  }
  .card.small {
      height: 600px;
  }
}

.remove_field >.material-icons{
  color: #F44336 !important;
}

.waves-effect > input[type="submit"]{
  color: white;
}
