@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.nav-wrapper {
    background-color: #000 !important;
    font-size: 14px;
    font-weight: bold;
  }
body > nav > div > a.brand-logo > img{
  padding: 3%;
}

nav ul a, nav .brand-logo {
    color: #FFF;
}

body > nav > div > ul> li:hover{
  background-color: #e60077;
}

body > nav > div > ul.right.hide-on-med-and-down > li:nth-child(5):hover{
  background-color: inherit;
}
body > nav > div > p {
    line-height: 2rem;
    -webkit-text-stroke: 1px #e60077;
    text-align: center;
    width: 25%;
    margin: auto;
    padding: 1%;
}

@media only screen and (max-width : 992px) {
  body > nav > div > p {
      visibility: hidden;
  }
}

.orange.lighten-3 {
    font-family: 'PT Sans', sans-serif !important;
    background-color: #e4501d !important;
    color: white !important;
    border-radius: 5%;
}

.center-align {

    padding-bottom: 2%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    background-color: rgba(195, 10, 100, .5);
    /* background-color: rgba(1, 1, 1, 1); */
}
.white-text{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.slider{
  margin: 1% 0 1% 0;
}

.card.small {
    height: 600px;
}
.grey-text.text-darken-4 {
    color: #c20762 !important;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: bold;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #e60077;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.pinktext{
  color:#c20762;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 601px){
  .row .col.m7 {
      width: 33%;

  }
  .card.small {
      height: 600px;
  }
  body > div.row > div.col.s12.m4.l3{
    min-height: 850px;
  }
}

.remove_field >.material-icons{
  color: #F44336 !important;
}

.waves-effect > input[type="submit"]{
  color: white;
}

/* https://codepen.io/Deadlymuffin/pen/hGiqo/ */
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}


/*portfolio*/
.portfolio {
  padding: 15px;
  display: flex;

}
/* Login
https://codepen.io/malikbekhelouf/pen/Kzwgbb */


.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}
